<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.google.android.gms.permission.AD_ID" tools:node="remove"/>

    <application
        android:name=".WizardBlockApplication"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/general_app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.WizardBlock.Splash"
        tools:replace="android:theme">
        <activity
            android:name=".feature.navigation.NavigationActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".feature.gamesettings.GameSettingsActivity"
            android:theme="@style/Theme.WizardBlock.DayNight" />
        <activity
            android:name=".feature.block.GameBlockActivity"
            android:theme="@style/Theme.WizardBlock.DayNight" />
        <activity
            android:name=".feature.savedgames.SavedGamesActivity"
            android:theme="@style/Theme.WizardBlock.DayNight" />
        <activity
            android:name=".feature.about.AboutActivity"
            android:theme="@style/Theme.WizardBlock.DayNight" />
        <activity
            android:name=".feature.settings.SettingsActivity"
            android:theme="@style/Theme.WizardBlock.DayNight" />
        <activity
            android:name=".feature.statistics.StatisticsActivity"
            android:theme="@style/Theme.WizardBlock.DayNight" />

    </application>

</manifest>